@import "overrides.scss";
@import "../node_modules/bulma/bulma.sass";

body {
  font-family: Helvetica, sans-serif;
}

.navbar{
    // min-height: 4rem;
    padding:0 1rem;
    &.is-primary{
        box-shadow: 2px 2px 2px rgba($color: #000000, $alpha: 0.12)
    }
    @media screen and (max-width: $tablet) {
        padding:0;
    }
}

.navbar-item {
  font-weight: bold;
  text-transform: uppercase;
  font-size: small;
}

.full-width-section {
  margin: 0;
  padding: 0;

  .title {
    width: 100%;
    padding: 2rem;
    font-weight: bold;
    font-size: 1.5rem;
    color: $white;
    background-color: $madrasters-yellow;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
  }

  .content {
    background-color: $white-ter;
    color: $text;
    padding: 2.5rem 1rem;

    .info {
      padding: 1rem;

      h5 {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 0.6rem;
        text-transform: uppercase;
      }

      p {
        font-size: 0.8rem;
        font-weight: bold;
        color: $grey;
      }

      a {
        color: $text;
        text-decoration: none;
        color: $grey;
      }

      a:hover {
        color: $text;
        text-decoration: underline;
      }

      .social-media {
        padding: 0.6rem;
        display: inline;
        font-size: 1.6rem;
      }
    }
  }
}

.main-section {
  margin: 0;
  padding: 0;

  .workshop {



    .banner {
      width: 100%;
      margin: 0 0 10px 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .about {
      padding: 4rem;
      .title {
        font-size: 2.2rem;
        font-weight: 500;
        margin-bottom: 1rem;
        text-transform: uppercase;

        span {
          font-weight: 900;
        }
      }
      .underline {
        width: 10%;
        border-bottom: solid 2px;
        margin: 1rem 0;
      }

      .content {
        font-size: 1.1rem;
        font-weight: 300;
        margin: 1rem 0;

        img{
            width: 400px;
            height: 400px;
            object-fit: contain;
            margin: 2rem auto;
            display: block;
        }
      }
    }
  }
}

.has-workshop-1-color{
    color: $workshop-1;
    border-color: $workshop-1;
}

.has-workshop-2-color{
    color: $workshop-2;
    border-color: $workshop-2;
}

.has-0-padding{
    padding: 0;
}

.has-0-margin{
    margin: 0;
}

footer {
  background-color: $grey-darker;
  color: $white-ter;
  font-size: 0.8rem;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
